@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");

/* Theme Vars */
:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-heading: "Cinzel Decorative", serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Heading font */
.heading-font {
  font-family: var(--font-heading);
  letter-spacing: 2px;
  text-transform: uppercase;
}
